<a href="https://colab.research.google.com/github/YugantBhoir/Python-Programming-2/blob/main/WeekNo__1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#Section A : Fundamentals of Python

In [ ]:
Name='Yugant_Bhoir'
Batch='A1'

1. Write a Python program to print “Hello Python”

In [ ]:
("printHello Python")
y = 'Hello Python'
print(y)

Hello Python

In [ ]:
("printHello Python")
y = 'Hello Python'
print(y)

Hello Python

2. Write a Python program to do arithmetical operations addition and division ?

In [ ]:
y = 20
z = 5
sum = y + z
print(sum)
div = y/z
print(div)

25
4.0

3. Write a Python program to find the area of a triangle?

In [ ]:
altitude = float(input("enter the height of the traingle: "))
base = float(input("enter the base of the traingle: "))
area = 0.5 *(base*altitude)
print('Area of triangle is :', area)

enter the height of the traingle: 12
enter the base of the traingle: 6
Area of triangle is : 36.0

4. Write a Python program to swap two variables?

In [ ]:
y = 5
z = 10

y, z = z, y
print("y =", y)
print("z =", z)

y = 10
z = 5

5. Write a Python program to generate a random number?

In [ ]:
import random 
rand_number = random.randint(0,100)
print(rand_number)

68

#Section B:

1. Write a Python program to convert kilometers to miles?

In [ ]:
kilometers = float(input("Enter no of kilometers: "))
miles = kilometers*0.621371
print(kilometers, 'km is ', miles,' miles')

Enter no of kilometers: 10
10.0 km is  6.21371  miles

2. Write a Python program to convert Celsius to Fahrenheit?

In [ ]:
 Celsius = float(input('Enter the temperature in Celsius: '))
Fahrenheit = (Celsius * 1.8) + 32
print(Celsius, ' C is ', Fahrenheit , 'F')

Enter the temperature in Celsius: 32
32.0  C is  89.6 F

3. Write a Python program to display calendar?

In [ ]:
import calendar

yy = int(input())
mm = int(input())

print(calendar.month(yy,mm))

2004
3
     March 2004
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

4. Write a Python program to solve quadratic equation?

In [ ]:
import math

w = int(input('Enter value of w: '))
x = int(input('Enter value of x: '))
y = int(input('Enter value of y2: '))

z = ((x**2)- (4*w*y))
solution1 = (-x+math.sqrt(z))/(2*w)
solution2 = (-x-math.sqrt(z))/(2*w)

print(solution1,'and',solution2)

Enter value of w: 1
Enter value of x: 5
Enter value of y2: 6
-2.0 and -3.0

5. Write a Python program to swap two variables without temp variable?

In [ ]:
c = 15
d = 3

c,d = d,c

print(c)
print(d)

3
15

#Section C:

1. Write a Python Program to Check if a Number is Positive, Negative or Zero?

In [ ]:
No = int(input('Enter a No: '))
if No>0:
  print(No,' is positive')
elif No==0:
  print('Zero')
elif No<0:
  print(No,' is negative')

Enter a No: -8
-8  is negative

2. Write a Python Program to Check if a Number is Odd or Even?

In [ ]:
No = int(input('Enter a No: '))
if No%2==0:
  print(No,' is Even')
else:
  print('{0} is Odd'.format(No))

Enter a No: 7
7 is Odd

3. Write a Python Program to Check Leap Year?

In [ ]:
year = int(input("Enter the year: "))
if year % 4 == 0 and year % 100 != 0:
    print(year, "is a leap year.")
elif year % 400 == 0:
    print(year, "is a leap year.")
elif year % 100 == 0:
    print(year, "is not a leap year.")
else:
    print(year, "is not a leap year.")

Enter the year: 2004
2004 is a leap year.

4. Write a Python Program to Check Prime Number?

In [ ]:
num = 5

# To take input from the user
#num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

5 is a prime number

5. Write a Python Program to Print all Prime Numbers in an Interval of 1-10000?

In [ ]:
lower_limit = 1
upper_limit = 1000

for No in range(lower_limit, upper_limit+ 1):
   if No > 1:
       for i in range(2, No):
           if (No % i) == 0:
               break
       else:
           print(No)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

#Section D

1. Write a Python Program to Find the Factorial of a Number?

In [ ]:
num = 5

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 5 is 120

2. Write a Python Program to Display the multiplication Table?

In [ ]:
number = int(input())
for i in range(1,13):
  print(number," x ",i," = ",number*i)

7
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70
7  x  11  =  77
7  x  12  =  84

3. Write a Python Program to Print the Fibonacci sequence?

In [ ]:
nthterm = int(input())
a = 0
b = 1
res = 0
if nthterm <= 0 : 
  print("Not valid")
elif nthterm == 1:
  print(a)
else:
  print("Fibonnaci Sequence: ")
  while res < nthterm :
    print(a)
    nth= a + b
    a = b 
    b = nth
    res += 1

7
Fibonnaci Sequence:
0
1
1
2
3
5
8

4. Write a Python Program to Check Armstrong Number?

In [ ]:
num = int(input("Enter a number: "))
sum = 0 
temp = num 
while temp > 0:
  digit = temp%10
  sum += digit**3
  temp = temp//10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 9
9 is not an Armstrong number

5. Write a Python Program to Find Armstrong Number in an Interval?

In [ ]:
lower  = int(input("enter the lower limit: "))
upper = int(input("enter the upper limit: "))
for i in range(lower, upper+1):
  sum =0
  num = i
  while(i!=0):
    digit=i%10
    sum = sum + (digit**3)
    i = i//10
  if num == sum:
    print(num)

enter the lower limit: 4
enter the upper limit: 5

6. Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
def sumofn(n):
   if n <= 1:
       return n
   else:
       return n + sumofn(n-1)
x = int(input("Enter a number: "))
res = sumofn(x)
print(res)

Enter a number: 7
28

#Section E:

1. Write a Python Program to find sum of array?

In [ ]:
arr = [12, 3, 4, 15, 25]
for i in arr:
  sum += i
print(sum)

184

2. Write a Python Program to find largest element in an array?

In [ ]:
arr = [12, 3, 4, 15, 25, 923]
largest = 0
for i in range(len(arr)):
  if arr[i] > largest:
    largest = arr[i]
print(largest)

923

4. Write a Python Program to Split the array and add the first part to the end?

In [ ]:
def split(arr, k):
    arr = arr[k:] + arr[:k]
    return arr
   
k = 2
arr = [10, 13, 5, 17]
print("Output array is", split(arr, k))

Output array is [5, 17, 10, 13]

5. Write a Python Program to check if given array is Monotonic?

In [ ]:
def isMonotonic(A):
   return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
      all(A[i] >= A[i + 1] for i in range(len(A) - 1)))
A = [1,2,3,4,7,8]
print(isMonotonic(A))

True

#Section F:

1. Write a Python program to find sum of elements in list?

In [ ]:
list = [1, 2, 3, 1, 2, 5]
sum = 0
for i in list:
  sum += i
print(sum)

14

2. Write a Python program to Multiply all numbers in the list?

In [ ]:
list = [1, 2, 3, 1, 2, 5]
product = 1
for i in list:
  product *= i
print(product)

60

3. Write a Python program to find smallest number in a list?

In [ ]:
list1 = [10, 20, 1, 45, 99]
list1.sort()
print(list1[:1])

[1]

4. Write a Python program to find largest number in a list?

In [ ]:
list1 = [10, 20, 1, 45, 99]
list1.sort()
print(list1[-1:])

[99]

5. Write a Python program to find second largest number in a list?

In [ ]:
list1 = [10, 20, 1, 45, 99]
list1.sort()
print(list1[-2:-1])

[45]

6. Write a Python program to find N largest elements from a list?

In [ ]:
def function1(lis, N):
    list2 = []

    for i in range(0, N):
        max1 = 0

        for j in range(len(lis)):
            if list1[j] > max1:
                max1 = list1[j];

        list1.remove(max1)
        list2.append(max1)

    print(list2)


list1 = [22, 26, 41, 985, 0, 3, 17, 66, 10]
N = int(input())
function1(list1, N)

7
[985, 66, 41, 26, 22, 17, 10]

7. Write a Python program to print even numbers in a list?

In [ ]:
list1 = [10, 20, 1, 45, 99]
for i in list1:
  if i%2 == 0:
    print(i)

10
20

8. Write a Python program to print odd numbers in a List?

In [ ]:
list1 = [10, 20, 1, 45, 99]
for i in list1:
  if i%2 != 0:
    print(i)

1
45
99

9. Write a Python program to Remove empty List from List?

In [ ]:
list2 = [10, 20, 1, 45, 99, [] ,984 , [] , 23, [3,4]]

newlist = []
for i in list2:
  if i:
    newlist.append(i)
print(newlist)

[10, 20, 1, 45, 99, 984, 23, [3, 4]]

10. Write a Python program to Cloning or Copying a list?

In [ ]:

list3 = [10, 22, 44, 23, 4, 34]
new_list = list3.copy()
print(list3)
print(new_list)

[10, 22, 44, 23, 4, 34]
[10, 22, 44, 23, 4, 34]

11. Write a Python program to Count occurrences of an element in a list?

In [ ]:
list3 = [10, 22, 44, 23, 4, 34, 10, 10, 10 , 10, 10, 10]
x = 10
y = []
for i in list3:
  if i == x:
    y.append(i)

print("int 10 is repeated:",len(y),"times")

int 10 is repeated: 7 times